@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.slick-list {
  margin: auto 10px;
}

.css-1kcnzpi-MuiSkeleton-root::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 90, 112, 0.185),
    transparent
  ) !important;
}

.MuiImageList-root {
  margin: auto;
  width: 94%;
  max-width: 90rem;
}

.MuiImageListItem-root {
  max-height: 340px;
}

.MuiImageListItem-img {
  cursor: pointer;
  border-radius: 0.8rem;
  height: 100% !important;
}

.MuiImageListItemBar-root {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.MuiImageListItem-root .MuiImageListItemBar-root {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.MuiImageListItem-root:hover .MuiImageListItemBar-root {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.MuiImageListItemBar-actionIcon {
  display: flex;
  justify-content: end;
  margin-right: 4px;
  height: 60px;
  padding: 7px 0;
  align-items: start;
  min-width: 64px;
}

a.active {
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgba(59, 167, 255, 0.864);
}

a.active h3 {
  color: rgb(59, 167, 255);
}

a#author-head-title {
  text-decoration: none;
  color: inherit;
}

.override-opacity {
  opacity: 1 !important;
}

@media (min-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .slick-next {
    width: auto;
  }
  .slick-dots li button::before {
    font-size: 12px !important;
  }
}

@media (min-width: 767px) {
  .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (min-width: 992px) {
  .MuiImageList-root {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (min-width: 1370px) {
  .MuiImageList-root {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
